//= template/header.html
		<div class="content">
			//= template/item.html
			//= template/item.html
			//= template/item.html
			<div class="item item-full item-dark">
				<div class="item__wrapper">
					<div class="item__img" style="background-image: url('../images/weboffice.jpg')"></div>
					<div class="item__info">
						<h3 class="item__title">Проблемы работы с продукт менеджером</h3>
						<p class="item__intro">Представляется логичным, что знак создает предмет деятельности.</p>
						<div class="item__param">
							<div class="item-param__item item-param__item-like"></div>
							<div class="item-param__item item-param__item-shared"></div>
							<a href="" class="readmore">Читать полностью</a>
						</div>
					</div>
				</div>
			</div>
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
			//= template/item.html
		</div>
		<!-- //= template/sidebar.html -->
	</div>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/masonry.pkgd.min.js"></script>
	<script src="./js/main.js"></script>

	<script>
		$(document).ready(function() {
			$('.content').masonry({
				itemSelector: '.item'
			});
		});
	</script>
</body>
</html>